# flagfile for the roq-whitebit gateway
# exchange servers are located in AWS, Singapore

--rest_uri=https://api.whitebit.com
--ws_public_uri=wss://stream.whitebit.com/v5/public
--ws_private_uri=wss://stream.whitebit.com/v5/private
--ws_trade_uri=wss://stream.whitebit.com/v5/trade
